body{
    background: #04A1BF;
    text-align: center;
}

h1{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

p{
    font-weight: 600;
}

#first{
    color: #FFCD5D;
    margin-top: 10px;
}

#second{
    color: aqua;
}

#third{
    color: #025F70;
    margin-top: 20px;
}

#enter{
    border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #02798F;
	color: #FFCD5D;
}

input {
	border-radius: 5px;
	min-width: 50%;
	padding: 5px;
    border: none;
}


ul{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
}

ul li:nth-child(odd){
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }

  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  



